.cante-animation {
    color: blue;
    font-size: 300px;
    font-family: serif;
    position: relative;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    from {
        left: -300px;
    }

    to {
        left: 300px;
    }
}
